/* Fonts*/

@font-face {
 font-family: "Gilroy";
 font-weight: 800;
 font-style: normal;
 src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
   url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
 font-family: "Gilroy";
 font-weight: 300;
 font-style: normal;
 src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}
@font-face {
 font-family: "Open Sans";
 font-weight: 400;
 font-style: normal;
 src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}
@font-face {
 font-family: "Open Sans";
 font-weight: 300;
 font-style: normal;
 src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

/* Variables */

:root{
 --basic-black: #000000;
 --basic-dark: #363636;
 --basic-grey:#464646;
 --grey-search-button:#4C4C4C;
 --basic-half-grey:#7E7E7E;
 --basic-grey-light:#E5E5E5;
 --grey-form-light:#F2F2F2;
 --grey-filter-header:#DCDCDC;
 --grey-form-dark:#EAEAEA;
 --grey-form-text:#8C8C8C;
 --grey-catalog-navigation:#EBEBEB;
 --grey-navigation-effect:#D9D9D9;
 --basic-white:#FFFFFF;
 --special-yellow-dark:#F0C52E;
 --special-yellow-light:#F7E296;
 --special-green:#91C92F;
 --status-pink-light:#F6DADA;;
}

/* Global */

.list-reset{
  list-style: none;
}

.page {
  height: 100%;
}

.page-body{
 font-family: "Open Sans", Arial, sans-serif;
 font-style: normal;
 font-weight: 300;
 font-size: 15px;
 line-height: 20px;
 color:var(--basic-black);

 min-height: 100%;
 display: grid;
 grid-template-rows:
 min-content
 1fr
 min-content;
 align-content: center;
 width: auto;

}

.container{
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}


.link {
  text-decoration: none;
  color:var(--basic-black);
  display: inline;
  height: min-content;
}

.catalog ul,
.catalog,
.services,
.slider-buttons,
.features ul,
.company-logo ul,
.about-us ul,
.social ul,
.footer-features ul,
.social a{
  list-style: none;
}


.menu,
.features ul,
.footer-features a,
.appointment-button{
 font-family: "Gilroy" ,Arial, sans-serif;
 font-style: normal;
 font-weight: 800;
 font-size: 18px;
 line-height: 22px;
 letter-spacing: 0.2em;
 text-transform: uppercase;
}

.footer-menu h2,
.contacts-phone-area h2,
.social h2,
.footer-features h2,
.address-area h2,
.company-logo h2,
.features h2,
.popular-services h2,
.title-hidden,
.catalog-list h2,
.navigation h2 ,
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }



/* Header */


.main-navigation{
  position: relative;
  background-color: var(--special-yellow-light) ;
  display: grid;
  grid-template-columns: minmax(600px,auto) minmax(540px,auto);
  grid-template-rows: minmax(80px,auto) minmax(220px,auto);
  width: 1160px;
  box-sizing: border-box;
  margin: 40px auto 0;
  min-height: 300px;

}

.main-navigation-catalog{
  background-color: var(--special-yellow-light) ;
  display: grid;
  position: relative;
  grid-template-columns: minmax(600px,auto) minmax(540px,auto);
  grid-template-rows: minmax(80px,auto) minmax(106px,auto) ;
  width: 1160px;
  box-sizing: border-box;
  margin: 40px auto 0;
  height: 186px;

}
.account-menu{
  display: flex;
  justify-content: flex-end;
  grid-column: 2/3;
  margin: 0;
  margin-top: 44px;
  padding-right:60px;
}

.catalog{
  position: relative;
  display: flex;
  grid-column: 1/3;
  margin: 0;
  margin-top: 34px;
  padding: 0px;
  background-color: var(--special-yellow-light) ;
  padding-right:60px;
}


.menu-decor .menu{
  margin-left: 60px;
  padding-right: 40px;
  position: relative;
  z-index: 1;
}


.menu-decor{
  position: relative;
  margin-right: 281px;
}

.menu-decor>a::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 8px;
  top: 2px;
  pointer-events: none;
}


.menu-decor:hover .catalog-items {
  visibility: visible;
}
.menu-decor:focus-within .catalog-items {
  visibility: visible;
}



.menu-contacts{
  margin-left:auto;
}

.catalog-items{
  display: grid;
  position: absolute;
  grid-template-columns: 1.3fr 0.96fr 1.26fr 2.5fr;;
  column-gap:40px;
  row-gap:16px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 42px;
  background-color: var(--special-yellow-light);
  padding-left: 60px;
  width: 1040px;
  z-index: 3;
  visibility: hidden;
}


.menu-guarantee{
  margin-left: 35px;
}



.catalog-items li:nth-child(1),
.catalog-items li:nth-child(2),
.catalog-items li:nth-child(3){
  grid-column: 1/2;
}

.catalog-items li:nth-child(4){
  grid-row: 1/2;
}
.catalog-items li:nth-child(5){
  grid-row: 2/3;

}

.catalog-items li:nth-child(4),
.catalog-items li:nth-child(5){
  grid-column: 2/3;
}
.catalog-items li:nth-child(6){
  grid-column: 3/4;
}
.catalog-items li:nth-child(6){
  grid-row: 1/2;
}

.catalog-features{
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin-top: 48px;
}

.login-link{
  margin-right: 210px;
  padding-left: 25px;
  position: relative;
}

.login-link::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 1px;
  top: 4px;
}

.login-link:hover{
  opacity: 0.6;
}

.login-link:active{
  opacity: 0.3;
}

.compare{
  margin-right: 35px;
  padding-left: 30px;
  position: relative;
}

.compare::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon/icon-compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 4px;
  top: 4px;
}

.compare:hover{
  opacity: 0.6;
}

.compare:active{
  opacity: 0.3;
}


.basket{
  padding-left: 30px;
  position: relative;
}

.basket::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon/icon-basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 9px;
  top: 5px;
}

.basket:hover{
  opacity: 0.6;
}

.basket:active{
  opacity: 0.3;
}




.main-header-logo{
  position: absolute;
  left: 60px;
  top: -20px;
}

.login{
  margin-right: 20px;
  padding-left: 25px;

}

.logout{
  opacity: 0.3;
  margin-right: 58px;
}

.menu-decor a>span:hover{
  opacity: 0.6;
}

.menu-decor a>span:active{
  opacity: 0.3;
}



/* Header catalog */

.login{
  position: relative;
}

.login::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0px;
  top: 4px;
}



/* Search */

.search{
  grid-column: 1/2;
  margin-top: 29px;
  padding-left: 63px;
  position: relative;
}

.search-button {
  position: relative;
  text-transform: uppercase;
  color:var(--basic-black);
  background-color: transparent;
  height: 50px;
  width: 84px;
  border: 2px solid var(--basic-black);
  z-index: 2;
  display: none;
}

form.search:focus-within .search-button{
  display: inline;
}

.search-button::before{
  content: "";
  position: absolute;
  width: 356px;
  height: 2px;
  background-color: var(--basic-black);
  right: 82px;
  bottom: -2px;

}

.search-button:hover{
  background-color: var(--basic-black);
  color:var(--basic-white);
}

.search-button:active{
  background-color: var(--basic-black);
  color:var(--grey-form-text);
}


.search::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 60px;
  top: 18px;
}

.search input{
  position: relative;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.3;
  background-color:transparent;
  border:none;
  margin:0 36px;
  padding: 0px;
  height: 50px;
  width:281px ;
}

.search input:hover{
  opacity: 0.6;
}



/* Slider */


.slider-count{
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  color:var(--basic-white);
  z-index: 1;
}

.slider-caption{
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color:var(--basic-black);
  margin: 0;
  margin-top: 93px;
  z-index: 2;

}

.table-header{
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.table-row{
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-black);
  letter-spacing: 0.1em;
}

.table-row td{
  padding-top: 14px
}

.features{
  background-color:var(--basic-grey-light);
}
.slider-info-area{
  display: flex;
  flex-direction: column;
  position: relative;
}

.slider{
  position: relative;
  display: grid;
  grid-template-columns:1fr 1fr;
  gap:40px;
  margin-top: -129px;
}

.slide{
  display:none;
}

.slider-count{
  position: absolute;
  right: 52px;
  top: -17px;
}

.slide-current {
  display: block;
}



.main-slider-text{
  margin:0;
  margin-top: 26px;
 }

.slider-info-area .style-button{
  margin-top: 52px;
  width: 220px;
  padding-top: 8px;
  padding-right: 0;
  padding-bottom: 8px;
  padding-left: 0;
}


.table{
  margin-top: 51px;
  table-layout: fixed;
  width: 444px;
  border-spacing: 0;
}

.table-header-first td:nth-child(1){
  width: 36%;
}

.table-header-first td:nth-child(2){
  width: 31%;
}


.table-header-third td:nth-child(1){
  width: 44%;
}

.slider img{
  grid-column: 1/2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.slider-buttons{
  display:flex;
  position: relative;
  padding: 0;
  margin: 0;
  padding-right: 101px;
  bottom: 150px;
  width: 60px;
  justify-content: space-between;
  margin-left: auto;
}

.slider-button{
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}


.slider-button.current::before{
  position: absolute;
  content:"";
  width: 4px;
  height: 4px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  left: 2px;
  top: 2px;
}

.slider-buttons .current{
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.features a:active{
  color: var(--special-yellow-light);
}

.slider::before{
 content: "";
 position: absolute;
 width: 100px;
 height: 7px;
 background-color: var(--basic-white);
 background-repeat: no-repeat;
 background-position: 0 0;
 top: 34px;
 left: 0;
 grid-column:2/3;
}


/* Services */

.services-table{
  display: grid;
  padding:20px 0;
  grid-template-columns: repeat(6, 1fr);
  column-gap:40px;
  margin-top: 95px;
  margin-bottom: 147px;
}

.services-subtitle{
  margin-top: 38px;
}

.services-link{
  display:block;
}

.services-link:hover .services-background{
  background-color:var(--special-yellow-dark);
}

.services-link:active img,
.services-link:active .services-subtitle{
  opacity: 0.3;
}

.services-background{
  background-color: var(--special-yellow-light);
  position: relative;
  width: 160px;
  height: 160px;
 }

.services-background img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



 /* Features */


.features-area {
  display: grid;
  background-color:var(--basic-grey-light);
  grid-template-columns: 284px 1fr;
  gap:116px;
  margin-top: 43px;
  min-height: 288px;
}

.features-info-item{
  display: flex;
  margin-top: -30px;
}

.features-slide{
  display: none;
}

.features-slide-current{
  display: block;
}

.features-info-item > div{
  flex-grow: 1;
}

.section-caption{
  margin-top: 0;
  margin-bottom: 40px;
}
.slider-text{
  width: 495px;
  margin: 0;
  padding-bottom: 40px;
}


.features-list .current{
  background-color: var(--basic-black);
}

.features-button-current{
  display: flex;
  width:160px;
  height: 40px;
  background-color: var(--basic-black);
  color: var(--special-yellow-light);
  justify-content: center;
  align-items: center;

}

.features{
  background-color:var(--basic-grey-light);
}

.features-list{
  position: relative;
  padding:0px ;
  margin-top: -21px;
}

.features-list::after{
  content: "";
  position: absolute;
  width: 7px;
  height: 320px;
  background-color: var(--basic-black);
  top: -80px;
  right: 0px;
}


.features-list li:first-child{
  margin-bottom: 30px;
}

.features-list li:nth-child(2){
  margin-bottom: 40px;
}

.slider-text{
  line-height: 30px;
  letter-spacing: 0.1em;
}



/*Buttons*/

.style-button{
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  display: flex;
  box-sizing: border-box;
  width: 160px;
  justify-content: center;
  align-items: center;
  height: auto;
  z-index: 2;
}

.style-button:active{
  color: rgba(0, 0, 0, 0.3);
}


 .style-button::after{
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 8px;
  background-color:var(--special-yellow-dark);
  z-index: -2;
}


.style-button:hover::after{
  background-color:var(--special-yellow-dark);
  height: 40px;
}

.features-style-button:active::after{
  width:277px;
  height: 40px;
  background-color: var(--basic-black);
  color: var(--special-yellow-light);
}


.filter-position .style-button,
.catalog-item-function .style-button{
  width: 200px;
}


 /* Company */

.company-area{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap:40px;
  padding: 0;
  margin:0px;
  margin-top:90px;

}
.logo-adv img{
  filter: grayscale(100%);
  opacity: 0.2;
}

.logo-adv img:hover{
  filter: grayscale(0);
  opacity: 1;
}

.logo-adv img:active{
  filter: grayscale(0);
  opacity: 1;
}



  /* About us , Contakts */

.transport-company{
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-black);
  padding-left: 32px;
  padding-bottom: 15px;
 }

.text{
  line-height: 28px;
 }

 .info-area{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap:127px;
  margin-top: 103px;
}

.about-us{
  position: relative;

}

.about-us::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -18px;
  left: 0px;
}

.about-us .text{
  margin:0;
  margin-bottom: 42px;
}

.about-us p:last-of-type{
  margin-bottom: 59px;
}

.about-us ul{
  margin: 0;
  padding: 0;
}

.list-transport-company{
  position: relative;
}
.list-transport-company li::before{
  position:absolute;
  content:"";
  width: 4px;
  height: 4px;
  background-color: transparent;
  border: 2px solid var(--basic-grey-light);
  border-radius: 50%;
  left: 0px;
  margin-top: 11px;
}


.list-transport-company li:last-child{
  padding-bottom: 0;
}



.about-us .style-button{
  width: 260px;
}

.about-us a{
  margin-top: 77px;
  margin-bottom: 86px;

}

.contacts{
  position: relative;
}

.contacts::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -18px;
  left: 0px;
}

.contacts p{
  margin:0;
  margin-bottom: 41px;
}

.contacts a:last-of-type{
  margin-top: 81px;
  margin-bottom: 86px;

}
.contacts .style-button{
  width: 260px;
}


  /* Footer */

.main-footer{
  background-color:var(--basic-dark);

}

.footer-area{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1160px;
  margin: 0px auto;

}

.main-logo{
  margin-top: 64px;
}

.address-area{
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 36px;
 }

.footer-address{
  margin: 0;
}

.contacts-phone-area{
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self:end;
  margin-top: 36px;
}

.contacts-phone-area p{
margin: 0;
}


.footer-basket{
  margin-left: 40px;
}

.footer-compare{
  margin-left: 41px;
}

.footer-features{
  margin-top: 35px;
  grid-column: 1/-1;
  grid-row: 2/3;
}



.footer-feature-list{
  display: flex;
  min-width: 700px;
  justify-content: center;
  padding: 0;
  margin: 0;
}


.footer-feature-list li{
  margin-left: 18px;
  margin-right: 15px;
}

.logout-footer>span{
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}


.social{
  grid-column: 2/3;
}

.social-list{
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 67px;
  margin-bottom: 62px;
}

.social-list li{
  margin-right: 10px;
  margin-left: 10px;
}

.footer-menu{
  display: flex;
  grid-column: 2/4;
  justify-self:end;
  margin-top: 46px;
}

.logo-area{
  grid-column: 3/4;
  justify-self:end;
  margin-top: 66px;
}

.logo-area p{
  margin: 0;
}

.nav-footer span{
  color:var(--basic-white);
  opacity: 0.7;
  padding-left: 24px;
}

.nav-footer span:hover{
  opacity: 1;
}

.nav-footer span:active{
  opacity: 0.3;
}

.footer-address,
.contacts-phone-area,
.contacts-phone,
.footer-features a,
.social a{
  color:var(--basic-white);
}


.footer-login-link{
  position: relative;
}

.footer-login-link::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon/icon-user-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 51px;
  top: 4px;
}

.footer-login-link:hover::before{
  opacity: 0.6;
}

.footer-login-link:active::before{
  opacity: 0.3;
}

.footer-compare::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon/icon-compare-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 201px;
  top: 51px;
}

.footer-basket:hover::before{
  opacity: 0.6;
}

.footer-basket:active::before{
  opacity: 0.3;
}

.footer-basket::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon/icon-basket-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 66px;
  top: 51px;
}


.footer-compare:hover::before{
  opacity: 0.6;
}

.footer-compare:active::before{
  opacity: 0.3;
}

.footer-area{
  position: relative;
}

.footer-area::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
  left: 0px;
  bottom: 79px;
}


 /* Social button */
.social-button{
  opacity: 0.3;
}

 .social-button:hover{
  opacity: 0.6;
}

.social-button:active{
  opacity: 0.1;
}

 /* Footer catalog*/



.user-footer{
  position: relative;
}

.user-footer::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon/icon-user-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -1px;
  top: 4px;
}

.user-footer:hover::before{
  opacity: 0.6;
}

.user-footer:active::before{
  opacity: 0.3;
}


 /* Modal */



.appointment{
  display: inline-block;
}


.appointment-name,
.appointment-email,
.appointment-text{
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color:var(--grey-form-text);
  background-color: var(--grey-form-dark);
}

 .appointment-name:hover,
.appointment-email:hover,
.appointment-text:hover{
  background-color: var(--basic-grey-light);
}

.appointment-name:focus,
.appointment-email:focus,
.appointment-text:focus{
  background-color:var(--basic-white);
  outline: 2px solid var(--special-yellow-dark);
  color: var(--basic-black);

}


.button-closed{
  background-color:var(--special-yellow-dark);
  position: absolute;
  width: 55px;
  height: 55px;
  opacity: 0.5;
  border-radius:50%;
  border:none;
  z-index: 1;
  right: 20px;
  top: 19px;
}

.button-closed::before,
.button-closed::after {
  content: "";
  position: absolute;
  left: 15px;
  top: 27px;
  width: 25px;
  height: 3px;
  background-color:var(--basic-white);
  z-index: 5;
  opacity: 0.7;
}

.button-closed::before {
  transform: rotate(45deg);
}

.button-closed::after {
  transform: rotate(-45deg);
}

.button-closed:hover{
  opacity: 1;
}

.button-closed:active{
  opacity: 0.3;
}


 .modal{
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}



 .form-wrapper{
  width: 960px;
  height:550px;
  background-color: var(--basic-white);
  display: none;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}


.modal-map{
  width: 994px;
  height:593px;
  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
  bottom: 313px;
  display: none;
}


.form{
  position: relative;
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 32px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top:92px;

}

form p{
  margin:0;
  padding:0;
}

.form-appointment-name{
  grid-column: 1/2;
  margin:0;
}
.form-appointment-email{
  grid-column: 2/3;
  margin:0;
}

.form-appointment-text{
  grid-column: 1/3;
  margin:0;
}

.appointment-name,
.appointment-email{
  width: 360px;
  height: 50px;
  border: none;
}

.appointment-text{
  width: 760px;
  min-height: 167px;
  border: none;
}

.appointment label{
  margin-bottom:10px;
  pointer-events: none;
}

.form-appointment-button{
  width: 200px;
  border:none;
  background-color: var(--basic-white);
  margin-top: 16px;
}

.appointment input{
  padding-left:20px;
  margin-top: 10px;
}

.appointment textarea{
  padding-left: 20px;
  padding-top: 16px;
  margin-top: 10px;
  resize: none;
}

.appointment-email:invalid{
  background: var(--status-pink-light);

}


/* Common */

.appointment{
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}



.services-subtitle{
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}


.features h3,
.about-us h2,
.contacts h2{
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color:var(--basic-black);
}


.opacity-hover:hover{
  opacity: 0.6;
}

.opacity-active:active{
  opacity: 0.3;
}




/*Catalog*/



.catalog-area{
  display:grid;
  grid-template-columns: 1fr minmax(348px, auto) minmax(852px, auto) 1fr;
  grid-template-rows: 70px 1fr 148px;
  position: relative;
}


.sorting-background{
  grid-column:3/5;
  grid-row:1/2;
  background-color: var(--basic-grey-light);
}

.filter{
  grid-column:1/3;
  grid-row:2/-1;
  background-color: var(--basic-grey-light)
}

.filter form{
  box-sizing: border-box;
  width: 348px;
  margin-left: auto;
  padding-left: 79px;
  margin-top:86px;
}

.filter-position fieldset:nth-child(2){
  margin-bottom: 38px;
}

.filter-position fieldset:nth-child(3){
  margin-bottom: 35px;
}

.filter fieldset{
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 2px;
  margin-bottom: 54px;
  box-sizing: border-box;
}

.filter-item ul{
  margin: 0;
  margin-top: 30px;
}

.filter-option{
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -41px;
  top: 0px;
  width: 19px;
  height: 19px;
  border: 2px solid #000000;
  border-radius: 2px;
}


.filter-input-checkbox:checked + label::after {
  content: "";
  background-image: url(../img/icon/icon-check.svg);
  position: absolute;
  top: 6px;
  left: -36px;
  width: 20px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -32px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}




.filter-title-area{
  grid-column:1/3;
  grid-row:1/2;
  background-color:var(--grey-filter-header);
}

.filter-title-area h2{
  box-sizing: border-box;
  width: 348px;
  margin:0;
  padding: 0;
  margin-left: auto;
  padding-left: 80px;
  margin-top:25px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting{
  display: flex;
  align-items: center;
  height: 70px;
  grid-column:3/-1;
  background-color: var(--basic-grey-light);
  grid-row:1/2;
}


.catalog-list{
  grid-column:3/4;
  grid-row:2/4;
  margin-bottom: 149px;
}

.navigation{
  box-sizing: border-box;
  grid-column:3/4;
  grid-row:3/4;
}

.catalog-list-area{
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap:40px;
  row-gap: 48px;
  margin-left: 72px;
  margin-top: 70px;
  padding: 0;
  padding-right: 20px;
  width:760px;
  margin-bottom: 39px;
}



.filter-area{
  background-color: var(--basic-grey-light);
}




.page-title{
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
  margin:0;
  margin-left: 60px;
  margin-top: 44px;
}

/* Breadcrumbs */


.breadcrumbs{
  display: flex;
  margin-right: 0;
  margin-left: 60px;
  margin-top: 29px;
  margin-bottom: 50px;
  padding: 0;
}

.breadcrumbs li{
  position: relative;
  margin-right:41px;
}

.breadcrumbs li::after {
  content: "";
  background-image:url(../img/icon/icon-arrow-nav.svg);
  position: absolute;
  width: 12px;
  height: 12px;
  top: 4px;
  right: -28px;
}

.breadcrumbs-current::after {
  display: none;
}



.breadcrumbs a,
.breadcrumbs-current{
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: rgba( 0,0,0,0.3);


}
.breadcrumbs a:hover{
  color: rgba( 0,0,0,0.6);
}

.breadcrumbs a:active{
  color: rgba( 0,0,0,0.1);
}

.breadcrumbs li,
.filter ul,
.catalog-list ul,
.navigation ul{
  list-style: none;
}

/* Filter */


.filter h2{
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--grey-filter-header);
}

.filter legend{
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.filter label,
.filter span{
  font-family: "Open Sans",Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
}

.filter form{
  background-color: var(--basic-grey-light);
}

.filter-option>label:hover::after{
  opacity: 0.6;
}
.filter-option>label:hover::before{
  opacity: 0.6;
}

.filter-option>label:active::after{
  opacity: 1;
}

.filter-option>label:active::before{
  opacity: 1;
}


.filter-input:focus + label::before {
  border-color: var(--basic-black);
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-input:disabled + label,
.filter-input:checked:disabled + label,
.filter-input:disabled:hover + label,
.filter-input:disabled:focus + label {
  color: var(--basic-black);
  opacity: 0.25;
  pointer-events: none;
}


.filter-item legend::before{
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  top: -16px;
  right: 68px;
  background-color: var(--basic-black);

}


.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  box-sizing: border-box;
}

.range-controls {
  position: relative;
}

.range-filter {
  width: 200px;
  margin-top: 40px;
}

.range-controls .toggle {
  position: absolute;
  top: -10px;
  cursor: pointer;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color:#C4C4C4;
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 114px;
}
.range-controls .scale {
  height: 2px;
  background-color:#C4C4C4;
}
.price-controls label {
  font-family: "Gilroy",Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}


.price-controls input {
  font-family: "Gilroy",Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  border: none;
  background-color: var(--basic-grey-light);
  width: 50px;
  padding-top: 15px;
  text-align: center;
  margin-right: 20px;
}

.max-price{
  margin-right:12px;
}

.range-controls .bar {
  width: 60%;
  height: 2px;
  background: var(--special-green);

}


/* Sorting */

.sorting{
  background-color: var(--basic-grey-light);
}

.sorting-list{
  display: flex;
  min-width: 495px;
  padding: 0px;
  margin: 0px;
  padding-left: 74px;
}

.sorting-list li{
margin-right: 30px;
}

.button-sorting-list{
  display: flex;
  margin:0;
  padding: 0;
  min-width: 60px;
  justify-content: flex-end;
}

.sorting h2{
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  margin-left:73px;
}

.sorting ul{
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  list-style: none;
  text-decoration: none;
}
.sorting a,
.catalog-item a,
.navigation a{
  color: var(--basic-black);
  text-decoration: none;
}

.sorting-popular,
.sorting-type{
  color: var(--basic-black);
  opacity: 0.3;
}

.sorting-popular:hover,
.sorting-type:hover{
  opacity: 0.6;
}

.sorting-popular:active,
.sorting-type:active{
  opacity:1;
}
.button-sorting-up{
  opacity: 0.2;
}
.button-sorting-up a{

  width: 25px;
  height: 25px;
}

.button-sorting-up a:focus::before{
  border-color: var(--basic-black);
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.button-sorting-down a:focus::before{
  border-color: var(--basic-black);
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.button-sorting-down{
  opacity: 1;
}
.button-sorting-down a{
  width: 25px;
  height: 25px;
}

.button-sorting-up:hover,
.button-sorting-down:hover{
  opacity: 0.4;
}

.button-sorting-up:active,
.button-sorting-down:active{
  opacity:1;
}

.button-sorting-list{
  position: relative;
}

.button-sorting-up a::before{
  content: "";
  position: absolute;
  background-image:url(../img/icon/icon-down-dir.svg);
  width: 20px;
  height: 20px;
  left: 8px;
  top: -11px;
  background-position: 0 0;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.button-sorting-down a::before{
  content: "";
  position: absolute;
  background-image:url(../img/icon/icon-down-dir.svg);
  width: 20px;
  height: 20px;
  right: -5px;
  bottom: -11px;
  background-position: 0 0;
  background-repeat: no-repeat;

}


/* Catalog */

.catalog-item{
  position: relative;
}

.catalog-item-img:hover .catalog-item-function{
  visibility: visible;
}

.catalog-item h3{
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
  margin:0;
  width: 270px;
}

.catalog-price{
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}


.catalog-compare{
  font-family: "Open Sans",Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  opacity: 0.5;
  display: inline-block;
  margin-left: -2px;
  margin-top: 23px;
}

.catalog-compare:hover{
  opacity: 1;
}
.catalog-compare:active{
  opacity: 0.2;
}

.catalog-item-info{
  display:flex;
  justify-content: space-between;
  align-items:baseline;
  margin-top:30px;
}

.catalog-item-img{
  position: relative;
  width: 360px;
  height: 380px;
}

.catalog-item-function{
  display:flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  visibility: hidden;
  background-color:rgba(255,255,255, 0.7);
  top: 0;
  justify-content: center;
}


.current-new::before{
  position: absolute;
  content: "NEW";
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  color: var(--basic-black);
  opacity: 0.3;
  right: 25px;
  top: 28px;
  border-radius: 50%;
  border: 2px solid var(--basic-black);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

}


.catalog-item-function .button-basket{
  margin-top:40px;
}


/* Catalog navigation */

.navigation{
  font-family: "Gilroy",Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  height: 70px;
  width: 760px;
  margin-left: 72px;
  margin-bottom: 78px;
  padding: 0;
  background-color:var(--grey-catalog-navigation);

}

.navigation-area{
  display: flex;
  justify-content: space-between;
  grid-column: 2/3;
  margin: 0;
  margin-top:25px;
  padding: 0;
}

.navigation-count{
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 240px;
  justify-content: center;
}

.navigation-count li{
  margin-right: 14px;
  margin-left: 15px;
}


.navigation-inactivated{
  opacity:0.3;
}

.navigation-back{
  padding-top: 25px;
  padding-bottom: 26px;
  padding-right: 29px;
  padding-left: 30px;
}

.navigation-back.disabled{
  pointer-events: none;
}

.navigation-forvard{
  padding-top: 25px;
  padding-bottom: 26px;
  padding-right: 29px;
  padding-left: 24px;
}



.navigation-back:hover{
background-color:var(--grey-navigation-effect);
}

.navigation-back:active,
.navigation-forvard:active{
  color: rgba(0, 0, 0, 0.3);
}



.navigation-forvard:hover{
  background-color:var(--grey-navigation-effect);
}



.navigation-inactivated:hover{
  opacity:0.6;
}

.navigation-inactivated:active{
  opacity:1;
}


