@font-face {
 font-family: "Gilroy";
 font-weight: 800;
 font-style: normal;
 src: url("../fonts/gilroyextrabold.woff"),
   url("../fonts/gilroyextrabold.woff2"),
   url("../fonts/gilroyextrabold.woff2") format("woff2"),
   url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
 font-family: "Gilroy";
 font-weight: 300;
 font-style: normal;
 src: url("../fonts/gilroylight.woff"),
    url("../fonts/gilroylight.woff2"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}
@font-face {
 font-family: "Open Sans";
 font-weight: 400;
 font-style: normal;
 src: url("../fonts/opensans.woff"),
    url("../fonts/opensans.woff2"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}
@font-face {
 font-family: "Open Sans";
 font-weight: 300;
 font-style: normal;
 src: url("../fonts/opensanslight.woff"),
    url("../fonts/opensanslight.woff2"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

:root{
 --basic-black: #000000;
 --basic-dark: #363636;
 --basic-grey:#464646;
 --basic-half-grey:#7E7E7E;
 --basic-grey-light:#E5E5E5;
 --grey-form-light:#F2F2F2;
 --grey-form-dark:#EAEAEA;
 --grey-form-text:#8C8C8C;
 --basic-white:#FFFFFF;
 --special-yellow-dark:#F0C52E;
 --special-yellow-light:#F7E296;
 --special-green:#91C92F;
 --status-pink-light:#F6DADA;;
}

.page-body{
 font-family: "Open Sans", Arial, sans-serif;
 font-style: normal;
 font-weight: 300;
 font-size: 15px;
 line-height: 20px;
 color:var(--basic-black);
}

.link {
  text-decoration: none;
  color:var(--basic-black);
}

.main-header{
  background-color: var(--special-yellow-light) ;
}

.main-footer{
  background-color:var(--basic-dark);
}

.features{
  background-color:var(--basic-grey-light);
}

.search-site {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  opacity: 0,3;
  background-color:var(--special-yellow-light);
  border:none;
}

.catalog ul,
.catalog,
.services,
.slider-buttons,
.features ul,
.company-logo ul,
.about-us ul,
.social ul,
.footer-features ul,
.social a{
  list-style: none;
}

.menu,
.button-detail,
.features ul,
.footer-features a,
.appointment-button{
 font-family: "Gilroy";
 font-style: normal;
 font-weight: 800;
 font-size: 18px;
 line-height: 22px;
 letter-spacing: 0.2em;
 text-transform: uppercase;
}

.slider-count{
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color:var(--basic-white);
}

.slider-caption{
 font-family: "Gilroy", Arial, sans-serif;
 font-style: normal;
 font-weight: 800;
 font-size: 47px;
 line-height: 58px;
 color:var(--basic-black);
}

.features h3,
.about-us h2,
.contacts h2{
 font-family: "Gilroy", Arial, sans-serif;
 font-style: normal;
 font-weight: 800;
 font-size: 47px;
 line-height: 58px;
 letter-spacing: 0.2em;
 color:var(--basic-black);
}


.table-header{
 font-family: "Gilroy", Arial, sans-serif;
 font-style: normal;
 font-weight: 300;
 font-size: 36px;
 line-height: 42px;
 letter-spacing: 0.1em;
 color: var(--basic-black);

}
.table-row{
 font-family: "Gilroy", Arial, sans-serif;
 font-style: normal;
 font-weight: 300;
 font-size: 13px;
 line-height: 15px;
 color: var(--basic-black);
 letter-spacing: 0.1em;

}

.appointment,
.subtitle{
 font-family: "Gilroy", Arial, sans-serif;
 font-style: normal;
 font-weight: 800;
 font-size: 18px;
 line-height: 22px;
 color: var(--basic-black);
}

.transport-company{
 font-family: "Gilroy", Arial, sans-serif;
 font-style: normal;
 font-weight: 800;
 font-size: 16px;
 line-height: 28px;
 color: var(--basic-black);
}



.footer-address,
.contacts-phone,
.footer-features a,
.social a{
 color:var(--basic-white);
}


.appointment-name,
.appointment-email,
.appointment-text{
 font-weight: normal;
 font-family: "Open Sans", Arial, sans-serif;
 font-style: normal;
 font-size: 14px;
 line-height: 19px;
 color:var(--grey-form-text);
 background: var(--grey-form-dark);

}

.services-background{
 background-color: var(--special-yellow-light);
 width: 160px;
 height: 160px;
}

.nav-footer{
 color:var(--basic-white);
 opacity: 0.7;
}



.search-button {
 text-transform: uppercase;
 color:var(--basic-black);
 background-color: var(--special-yellow-light);
 }

/* User navigation */


.appointment-name:hover,
.appointment-email:hover,
.appointment-text:hover{
 background-color: var(--basic-grey-light);
}
.appointment-name:focus,
.appointment-email:focus,
.appointment-text:focus{
 background-color:var(--basic-white);
}


.opacity-hover:hover{
 opacity: 0.6;
}

.opacity-active:active,
.services img:active,
.subtitle:active{
 opacity: 0.3;
}

.features a:active{
 color: var(--special-yellow-light);
}


.services-background:active{
 background:var(--special-yellow-dark);
}

.services-background:hover{
 background:var(--special-yellow-dark);
}

.social .opacity-hover:hover{
 opacity: 0.1;
}


.search-site:hover{
 opacity: 0,6;
}


.search-site:focus{
 color:var(--basic-black);
}


.search-button:hover{
 color: var(--basic-white);
 background-color:var( --basic-black);

}

.search-button:active{
 color: var(--basic-grey-light);
 background-color:var( --basic-black);
}

